body
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	
    background: white;
}

header {
    background: lightcoral;

}

#cart {
	display: flex;
	flex-direction: row;
}

#cart .add-bttn, #cart p {
	display: none;
}

#game-container .remove-bttn {
	display: none;
}

img {
	height: 100px;
	width:auto;
}

main
{
	display: flex;
    flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-end;
	
	
	
	
    background: lightblue;
}

.game
{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	
    height: 300px;
    width: 300px;
	
	margin: 25px;

    

    background: lightgreen;
}

img
{
	max-height: 477px;
	max-width: 385px;
}

h1, h2
{
	margin: 0px;
	font-size: 16pt;
}

.hide {
	display: none;
}