* {
	font-family: "Montserrat";
}

body
{
	margin-top: 100px;
	padding: 0px;
	box-sizing: border-box;
	
    background: white;
}

header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;

	position: fixed;
	top: 0;
	left: 0;
	
	height: 100px;
	width: 100%;

    background: lightcoral;

}

#cart {
	display: flex;
	flex-direction: column;
}

#cart .add-bttn, #cart p {
	display: none;
}

#game-container .remove-bttn {
	display: none;
}

img {
	height: 225px;
	width:auto;
}

main
{
	padding-top: 70px;
	display: flex;
    flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-end;
	
	
	
	
    background: #EBEBEB;
}

.game, *
{
	margin: 0;
	padding: 0;
}

.game
{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
    height: 450px;
    width: 300px;
	margin: 25px;
	border-bottom: 2px solid grey;
	text-align: center;
	padding: 10px;
}

.gameCart
{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
    height: 200px;
    width: 170px;
	margin: 5px;
	border-bottom: 0px solid black;
	text-align: center;
	padding: 10px;
	background: lightgreen;
}

.gameCart img
{
	height: 100px;
}



#done:hover + #cart
{
	display: flex;
}

#cart:hover
{
	display: flex;
}

img
{
	max-height: 477px;
	max-width: 385px;
}

h1, h2
{
	margin: 0px;
	font-size: 16pt;
}

.hide {
	display: none;
}