body
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	
    background: white;
}

header
{
	display: flex;
	flex-flow: row-reverse nowrap;
	align-items: flex-start;
	
	position: fixed;
	top: 0;
	left: 0;
	
	height: 100px;
	width: 100%;
	
    background: orange;
}

#check
{
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	
	
	background: khaki;
	width: 100px;
	height: 100px;
}

button
{
	
	margin-top: 40px;
}

#cart
{
	display: none;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: center;
	
	width: auto;
	
	position: relative;
	
}

.inCart
{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	
    height: 100px;
    width: 100px;
	
	margin-top: 10px;

    background: lightgreen;
}

h3, h4
{
	margin: 0px;
	font-size: 10pt;
}

button:hover + #cart
{
	
	display: flex;
}

#cart:hover
{
	display: flex;
}

main
{
	display: flex;
    flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	
	margin-top: 100px;
	padding: 0 50px;
	
	
    background: lightblue;
}

.game
{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	
    height: 300px;
    width: 300px;
	
	margin: 25px;

    

    background: lightgreen;
}

h1, h2
{
	margin: 0px;
	font-size: 16pt;
}

@media only screen and (min-width: 768px) {
	main
	{
		background: lightcoral;
	}
	
}