* {
	font-family: "Montserrat";
}

button {
    display: inline-block;
	border: none;
	border-radius: 10px;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #606CEB;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

body
{
	
	padding: 0px;
	box-sizing: border-box;
	
    background: white;
}

header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;

	
	max-height: 85px;

	background: #F3B4A5;
	
	border-bottom: 2px solid grey ;
}

#cart .add-bttn, #cart p {
	display: none;
}

#game-container .remove-bttn {
	display: none;
}

.game img {
	height: 225px;
	width:auto;
}

article
{
	display: none;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;


	width: 100%;
	height: 1000px;

	background: khaki;
	border-bottom: 2px solid grey;
}

#card-payment, #cash-payment{
	display: none;
}

form
{
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;

}

main
{
	padding-top: 40px;
	display: flex;
    flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-end;
    background: #EBEBEB;
}

.game, *
{
	margin: 0;
	padding: 0;
}

.game
{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
    height: 450px;
    width: 300px;
	margin: 25px;
	border-bottom: 2px solid grey;
	text-align: center;
	padding: 10px;
}

#cart {
	display: flex;
	flex-direction: column;

	height: auto;
	margin-top: 20px;
	opacity: 25%;
	border-left: 2px solid #EBEBEB;
	border-bottom: 2px solid #EBEBEB;
	
	transition: 300ms;
}

#cart:hover
{
	opacity: 100%;
	background: white;
	transition: 300ms;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
}

#check-out
{
	width: 192px;
	margin-top: 18px;
}

.gameCart
{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
    height: 200px;
    width: 170px;
	margin: 0px;
	text-align: center;
	padding: 20px 10px;
}

.gameCart img
{
	height: 100px;
}

.gameCart h1
{
	font-size: 16px;
}

img
{
	max-height: 477px;
	max-width: 385px;
}

h1, h2
{
	margin: 0px;
	font-size: 18pt;
}

.hide {
	display: none;
}

.hide-art img {
	display: none;
}

.hide-descript p {
	display: none;
}

.hide-bttn button {
	display: none;
}



@media only screen and (max-width: 768px) {
	body {
	
	}
}