* {
	font-family: "Montserrat";
}

.full-logo {
	display: none;
}

a:link {
	text-decoration: none;
  }

a:visited {
	color: black;
}

a:hover{
	color: #9F2042;
}

ul {
	display: flex;
	list-style-type: none;
}

li {
	display: flex;
}

footer {
	padding: 30px;
}
button {
	display: flex;
	justify-content: center;
	border: none;
	border-radius: 10px;
    padding-top: 10px;
    margin: 0;
    text-decoration: none;
    background: #606CEB;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
	transition: background 250ms ease-in-out;
	transform: 150ms ease;
    -webkit-appearance: none;
	-moz-appearance: none;
	height: 70px;
	width: 70px;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

body
{
	
	padding: 0px;
	box-sizing: border-box;
	
    background: white;
}

header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 0px 5px;
	height:112px;
	background: lightgrey;
	border-bottom: 1px solid grey ;
}

.price-info
{
	width: 192px;
	border-right: 2px solid black;
}

#cart .add-bttn, #cart p {
	display: none;
}

#game-container .remove-bttn {
	display: none;
}

.game img {
	height: 225px;
	width:auto;
}

article
{
	display: none;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 150px;
	box-sizing: border-box;
	background: #EBEBEB;
	border-bottom: 2px solid grey;
}

#cashCred
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	width: 100%;
}

.cashCredBut
{
	height: 50px;
	width: 125px;
	padding-top: 15px;
}

#card-payment, #cash-payment{
	display: none;
}

form
{
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;

}

aside
{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

#receipt
{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	padding: 0 75px;
	width: 100%;
	box-sizing: border-box;
	background: #EBEBEB;
	border-bottom: 2px grey solid;
}

#receipt .gameCart
{
	height: 20px;
	max-width: 200px;
	border: 1px black dotted;
	margin: 5px;
}

main
{
	padding-top: 40px;
	display: flex;
    flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-end;
    background: white;
}

.game, *
{
	margin: 0;
	padding: 0;
}

.game
{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
    height: 450px;
    width: 300px;
	margin: 25px;
	border-bottom: 2px solid grey;
	text-align: center;
	padding: 10px;
}

#checkIT
{
	width: 192px;
}

#cart {
	display: flex;
	flex-direction: column;
	height: auto;
	margin-top: 102px;
	opacity: 25%;
	border-left: 2px solid #EBEBEB;
	border-bottom: 2px solid #EBEBEB;
	position: absolute;
	top: 0;
	right: 0;
	transition: 300ms;
}

#cart:hover
{
	opacity: 100%;
	background: white;
	transition: 300ms;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
}

#check-out
{
	width: 192px;
}

.gameCart
{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
    height: 200px;
    width: 170px;
	margin: 0px;
	text-align: center;
	padding: 20px 10px;
}

.gameCart img
{
	height: 100px;
}

.gameCart h1
{
	font-size: 16px;
}

img
{
	max-height: 477px;
	max-width: 385px;
}

h1, h2
{
	margin: 0px;
	font-size: 18pt;
}

.hide {
	display: none;
}

.hide-art img {
	display: none;
}

.hide-descript p {
	display: none;
}

.hide-bttn button {
	display: none;
}

#add-img {
	display: flex;
	justify-content: center;
	height: 50px;
	width: 50px;
}


@media only screen and (min-width: 768px)
{
	#game-container
	{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		margin: 0;
		width: 100%;
	}

	.game
	{
		width: 320px;
	}


	ul {
		display: flex;
		flex-direction: column;
		padding: 10px;
		align-items: center;
	}

	li {
		padding: 5px;
	}

	footer {
		border-top: 2px solid grey;
		background: lightgrey;
		/* height: 25px; */
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		/* margin: 20px; */
		padding: 10px;

	}

	.full-logo {
		display: none;
	}
}